#nova_mensagem {
	width: 100%;
	margin-bottom: 10px;
}

#latencia, #memoria {
	color: #999;
	font-size: 10px;
	float: right;
	margin-left: 10px;
}

/* Messages */

#mensagem {
	width: 76%;
	float: left;
	border-right: 1px dashed #CCC;
	padding-right: 20px;
}

#mensagem ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#mensagem li {
	min-height: 30px;
	padding-bottom: 8px;
	margin-bottom: 8px;
	border-bottom: 1px dashed #CCC;
	line-height: 18px;
}

#mensagem span.usuario_nome {
	font-weight: bold;
}

#mensagem img.usuario_imagem {
	float: left;
	margin-right: 5px;
	width: 30px;
	height: 30px;
}

#mensagem span.usuario_login {
	color: #666;
}

#mensagem span.mensagem_texto span.usuario_nome {
	font-weight: normal;
}

#mensagem li.servico_canal span.mensagem_texto {
	font-style: italic;
}

#mensagem li.sistema span.mensagem_texto {
	color: maroon;
	font-weight: bold;
}

#mensagem span.mensagem_data {
	color: #999;
	float: right;
}

/* Users */

#usuario {
	width: 20%;	
	float: right;
}

#usuario ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#usuario li {
	min-height: 40px;
	margin-bottom: 2px;
}

#usuario img.usuario_imagem {
	float: left;
	margin-right: 5px;
	width: 35px;
	height: 35px;
}

#usuario span.usuario_nome {
	font-weight: bold;
}

/* Channel */

#canal h2 {
	margin-left: 150px;
}

#canal #topico {
	margin-left: 150px;
	margin-bottom: 15px;
	line-height: 20px;
}

#canal #imagem img {
	float: left;
	border-radius: 10px;
	margin-bottom: 10px;
}

#