
body {
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: #CCC;
}


#general {
	margin: 0 auto;
	width: 80%;
	background-color: #FFF;
	padding: 15px;
	border-radius: 15px;
	min-width: 800px;
}


a:link, a:visited, a:active {
	color: maroon;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	color: maroon;
}

.loader {
	display: none;
}
